body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(97, 95, 95);;
    height: auto;

    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.container
{
    background-color: white;
    border-radius: 20px;
    height: auto;
    width: auto;

    padding: 30px;
}
.container>div
{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}
.btn
{
    font-size: 12px;
    border: none;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    background-color: rgb(8, 173, 16);
    color: rgb(255, 255, 255);
}
h2
{
    text-align: center;
}
.btn:hover
{
 font-weight: 900;
 cursor: pointer;
}
th, td 
{
 border-bottom: 1px solid #ddd;
 padding: 15px;
 text-align: left;
}
tr:hover
{
    background-color: coral;
}
